<div class="card mb-3">
  <img
    class="card-img-top"
    src="localhost:5363/images/{{this.image}}"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">{{obj.name}}</h5>
    <p class="card-text">This is a wider card with supporting text below as a
      natural lead-in to additional content. This content is a little bit
      longer.</p>
    <p class="card-text"><small class="text-muted">{{obj.price}}</small></p>
    <p class="card-text"><small class="text-muted">{{obj.city}}</small></p>
  </div>
</div>